types/env.d.ts
frontend/pnpm-lock.yaml
frontend/bun.lockb
!.env.example
frontend/node_modules/
frontend/.svelte-kit
**/.DS_Store
frontend/.svelte/
!/frontend/build
!/build
/build/*
!/build/appicon.png
!/frontend/build
/frontend/build/*
!/frontend/build/index.html
**/*.local
**/.env.*
**/.env
