@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: hsl(var(--b1));
}

.annotation strong {
  display: block;
  font-size: 20px;
}

.chartBg {
  @apply bg-secondary bg-opacity-10 backdrop-blur-md;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight font-light;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-base;
}
